@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

.addContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.addTitle {
  color: #3339ff;
  font-size: 24px;
  font-weight: bolder;
  margin: 1 0;
  padding: 1rem 0;
  text-align: center;
}

.box {
  background-color: #ccc;
  border: 2px solid black;
  box-shadow: 24;
  display: flex;
  flex-direction: column;
  gap: 2;
  height: fit-content;
  left: 50%;
  padding: 4;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.card {
  height: 300px;
}

.cardContent {
  border-top: 0.5px solid #3339ff;
}

.cardMedia {
  display: block;
  height: auto;
  margin: 0 auto;
  max-height: 150px;
  max-width: 115px;
  object-fit: contain;
  width: auto;
}

.cardMediaContainer {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
}

.cardsContainer {
  background-color: #ccc;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: max-content;
  justify-content: center;
  margin: 0 auto;
  max-height: 100vh;
  padding: 10px;
  width: 75%;
}

.generalCard {
  background-color: #ccc;
  border: 2px solid #3339ff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: #3339ff;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
  width: 250px;
}

.generalCard:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}


.MuiInputBase-input > label {
  color: #3339ff;
  font-size: large;
  padding: 1;
}

.MuiTextField-root > label {
  color: #3339ff;
  font-size: large;
  padding: 1;
}

.pageTitle {
  color: #3339ff;
  font-size: 48px;
  font-weight: bolder;
  margin: 1rem 0;
  text-align: center;
}

.productsPage {
  height: 97vh;
  width: 100%;
}

